---
title: Zkittlez
description: Skittles -> Indica Dominant Hybrid
date: 2020-11-07
tags:
  - photo
layout: layouts/strain.njk
eleventyNavigation:
  key: Skittles
  order: 2
image: /strains/nugs/791_sk.jpg
thumbnail: /strains/nugs/490_sk-sq.jpg

aka: Skittles, Skittlz 
type: Indica Dominant Hybrid
type-simple: Indica
genealogy: Grape Ape, Grapefruit, and Undisclosed
appearance: Light Green; Chunky Colas
aroma: Sweet, tropical blend of fruit flavors
effects: Calming, Relaxing, and Giggly
awards: 1st Place at the 2016 Emerald Cup; 1st Place Indica at the 2015 Cannabis Cups in San Francisco and in Michigan.

feels1: Calming
feels1v: 80%
feels2: Muscle Relaxing
feels2v: 60%
feels3: Sleepy
feels3v: 20%

stat1: Indica
stat1v: 80%
stat2: THC
stat2v: 19%
stat3: Above Average
stat3v: 7%

bPriceM: $ 139
bPriceS: $ 159
pPriceM: $ 1699
pPriceS: $ 1899


test1: Skittles is a taste explosion!
testPic1: /img/faces/omid.jpg
test2: Taste the Rainbow!
testPic2: /img/faces/alicia.jpg
test3: Died of the giggles from the Skittles!
testPic3: /img/faces/muertos.jpg
---
