---
title: Squirt
description: Squirt -> Sativa Dominant Hybrid
date: 2020-11-07
tags:
  - photo
layout: layouts/strain.njk
eleventyNavigation:
  key: Squirt
  order: 3
image: /strains/nugs/791_ps2.jpg
thumbnail: /strains/nugs/490_ps2-sq.jpg

aka: Squirt 
type: Sativa Dominant Hybrid
type-simple: Sativa
genealogy: Blueberry Muffin, and Tang #118
appearance: Dark Green or Purple Colas
aroma: Powerful, spicy blend of complex flavors
effects: Focused, Alert, and Happy
awards: 

feels1: Functional
feels1v: 85%
feels2: Energetic
feels2v: 60%
feels3: Munchies
feels3v: 10%

stat1: Sativa
stat1v: 80%
stat2: THC
stat2v: 19%
stat3: Above Average
stat3v: 7%

bPriceM: $ 159
bPriceS: $ 179
pPriceM: $ 1899
pPriceS: $ 2099

test1: Squirt is my favorite!
testPic1: /img/faces/mask.jpg
test2: It feels so good!
testPic2: /img/faces/kal.jpg
test3: Oh My God I LOVE This Strain!
testPic3: /img/faces/sari.jpg
---
