<!DOCTYPE html>
<html lang="en">
<head>
  <title>C420</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Bomb Weed">
  <meta name="keywords" content="marijuana, weed, cannabis">
  <meta name="author" content="Daniel Clough">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

  {{ content | safe }}

</html>