---
layout: layouts/base2.njk
templateClass: tmpl-home
---
{{ content | safe }}

<header class="w3-padding-32 w3-center w3-black" id="home">
 <h1 class="w3-jumbo"><span class="w3-hide-small"></span> {{ title }}</h1>
  <p>{{metadata.title}}</p>
  <img src="{{ image }}" alt="{{description}}" class="w3-image-wide">
  <img src="{{ '/assets/img/wood/791_wood.jpg' | url }}" alt="plank" class="w3-image-full">
</header>


<!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="strain">
    <h2 class="w3-text-light-grey">{{title}}</h2>
    <hr style="width:200px" class="w3-opacity">
        <ul>
          <p><b>AKA:</b> {{aka}} </p>
        </ul>
        <ul>
          <p><b>Type:</b> {{type}} </p>
        </ul>
        <ul>
          <p><b>Genealogy:</b> {{genealogy}} </p>
        </ul>
        <ul>
          <p><b>Appearance:</b> {{appearance}} </p>
        </ul>
        <ul>
          <p><b>Aroma:</b> {{aroma}} </p>
        </ul>
        <ul>
          <p><b>Effects:</b> {{effects}} </p>
        </ul>
        

    <h3 class="w3-padding-16 w3-text-light-grey">Feels:</h3>
    <p class="w3-wide">{{feels.first}}</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:{{feels.firstValue}}"></div>
    </div>
    <p class="w3-wide">{{feels.second}}</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:{{feels.secondValue}}"></div>
    </div>
    <p class="w3-wide">{{feels.third}}</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:{{feels.thirdValue}}"></div>
    </div><br>
    
    <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-third w3-section">
        <span class="w3-xlarge">{{stats.typeValue}}</span><br>
        {{stats.type}}
      </div>
      <div class="w3-third w3-center center w3-section">
        <span class="w3-xlarge">{{stats.thcValue}}</span><br>
        {{stats.thc}}
      </div>
      <div class="w3-third w3-section">
        <span class="w3-xlarge">{{stats.thirdValue}}</span><br>
          <small>{{stats.third}}</small>
      </div>
    </div>

    
    <!-- Grid for pricing tables -->
    <h3 class="w3-padding-16 w3-text-light-grey">My Price</h3>
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half w3-margin-bottom">
        <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Basic</li>
          <li class="w3-padding-16">1 Ounce</li>
          <li class="w3-padding-16">
            <h2>{{prices.basic.monthly}}</h2>
            <span class="w3-opacity">per month</span>
          </li>
          <li class="w3-padding-16">
            <h2>{{prices.basic.single}}</h2>
            <span class="w3-opacity">single</span>
          </li>
          <li class="w3-light-grey w3-padding-24">
            <button class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>
          </li>
        </ul>
      </div>

      <div class="w3-half">
        <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Pro</li>
          <li class="w3-padding-16">1 Pound</li>
          <li class="w3-padding-16">
            <h2>{{prices.pro.monthly}}</h2>
            <span class="w3-opacity">per month</span>
          </li>
          <li class="w3-padding-16">
            <h2>{{prices.pro.single}}</h2>
            <span class="w3-opacity">single</span>
          </li>
          <li class="w3-light-grey w3-padding-24">
            <button class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>
          </li>
        </ul>
      </div>
    <!-- End Grid/Pricing tables -->
    </div>
    
    <!-- Testimonials -->
    <h3 class="w3-padding-24 w3-text-light-grey">Reputation</h3>  
    <img src="{{ testimonials.pic1 }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-xlarge w3-margin-right">{{testimonials.first}}</span></p>
    
    <img src="{{ testimonials.pic2 }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-xlarge w3-margin-right">{{testimonials.second}}</span></p>

    <img src="{{ testimonials.pic3 }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-xlarge w3-margin-right">{{testimonials.third}}</span></p>
  <!-- End About Section -->
  </div>



  </div>